demo_modules/Transactional/src/main/resources/META-INF/wsdl/transactional.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.omnichannel.ws.uib.tn.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.omnichannel.ws.uib.tn.com/" name="Transactional">
<types>
<xsd:schema>
<xsd:import namespace="http://services.omnichannel.ws.uib.tn.com/" schemaLocation="transactional.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="Transfer">
<part name="parameters" element="tns:Transfer"></part>
</message>
<message name="TransferResponse">
<part name="parameters" element="tns:TransferResponse"></part>
</message>
<message name="ServiceException">
<part name="fault" element="tns:ServiceException"></part>
</message>
<message name="AddPayee">
<part name="parameters" element="tns:AddPayee"></part>
</message>
<message name="AddPayeeResponse">
<part name="parameters" element="tns:AddPayeeResponse"></part>
</message>
<message name="PayeeList">
<part name="parameters" element="tns:PayeeList"></part>
</message>
<message name="PayeeListResponse">
<part name="parameters" element="tns:PayeeListResponse"></part>
</message>
<message name="DeletePayee">
<part name="parameters" element="tns:DeletePayee"></part>
</message>
<message name="DeletePayeeResponse">
<part name="parameters" element="tns:DeletePayeeResponse"></part>
</message>
<message name="RechargePrepaidCard">
<part name="parameters" element="tns:RechargePrepaidCard"></part>
</message>
<message name="RechargePrepaidCardResponse">
<part name="parameters" element="tns:RechargePrepaidCardResponse"></part>
</message>
<message name="OrderChequeBook">
<part name="parameters" element="tns:OrderChequeBook"></part>
</message>
<message name="OrderChequeBookResponse">
<part name="parameters" element="tns:OrderChequeBookResponse"></part>
</message>
<message name="EligibleAccountList">
<part name="parameters" element="tns:EligibleAccountList"></part>
</message>
<message name="EligibleAccountListResponse">
<part name="parameters" element="tns:EligibleAccountListResponse"></part>
</message>
<message name="AddMultipleTransfer">
<part name="parameters" element="tns:AddMultipleTransfer"></part>
</message>
<message name="AddMultipleTransferResponse">
<part name="parameters" element="tns:AddMultipleTransferResponse"></part>
</message>
<message name="AddPermanentTransfer">
<part name="parameters" element="tns:AddPermanentTransfer"></part>
</message>
<message name="AddPermanentTransferResponse">
<part name="parameters" element="tns:AddPermanentTransferResponse"></part>
</message>
<message name="CancelPermanentTransfer">
<part name="parameters" element="tns:CancelPermanentTransfer"></part>
</message>
<message name="CancelPermanentTransferResponse">
<part name="parameters" element="tns:CancelPermanentTransferResponse"></part>
</message>
<portType name="Transactional">
<operation name="Transfer">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/TransferRequest" message="tns:Transfer"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/TransferResponse" message="tns:TransferResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/Transfer/Fault/ServiceException"></fault>
</operation>
<operation name="AddPayee">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddPayeeRequest" message="tns:AddPayee"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddPayeeResponse" message="tns:AddPayeeResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddPayee/Fault/ServiceException"></fault>
</operation>
<operation name="PayeeList">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/PayeeListRequest" message="tns:PayeeList"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/PayeeListResponse" message="tns:PayeeListResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/PayeeList/Fault/ServiceException"></fault>
</operation>
<operation name="DeletePayee">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/DeletePayeeRequest" message="tns:DeletePayee"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/DeletePayeeResponse" message="tns:DeletePayeeResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/DeletePayee/Fault/ServiceException"></fault>
</operation>
<operation name="RechargePrepaidCard">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/RechargePrepaidCardRequest" message="tns:RechargePrepaidCard"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/RechargePrepaidCardResponse" message="tns:RechargePrepaidCardResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/RechargePrepaidCard/Fault/ServiceException"></fault>
</operation>
<operation name="OrderChequeBook">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/OrderChequeBookRequest" message="tns:OrderChequeBook"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/OrderChequeBookResponse" message="tns:OrderChequeBookResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/OrderChequeBook/Fault/ServiceException"></fault>
</operation>
<operation name="EligibleAccountList">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/EligibleAccountListRequest" message="tns:EligibleAccountList"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/EligibleAccountListResponse" message="tns:EligibleAccountListResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/EligibleAccountList/Fault/ServiceException"></fault>
</operation>
<operation name="AddMultipleTransfer">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddMultipleTransferRequest" message="tns:AddMultipleTransfer"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddMultipleTransferResponse" message="tns:AddMultipleTransferResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddMultipleTransfer/Fault/ServiceException"></fault>
</operation>
<operation name="AddPermanentTransfer">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddPermanentTransferRequest" message="tns:AddPermanentTransfer"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddPermanentTransferResponse" message="tns:AddPermanentTransferResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/AddPermanentTransfer/Fault/ServiceException"></fault>
</operation>
<operation name="CancelPermanentTransfer">
<input wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/CancelPermanentTransferRequest" message="tns:CancelPermanentTransfer"></input>
<output wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/CancelPermanentTransferResponse" message="tns:CancelPermanentTransferResponse"></output>
<fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://service.omnichannel.ws.uib.tn.com/Transactional/CancelPermanentTransfer/Fault/ServiceException"></fault>
</operation>
</portType>
<binding name="TransactionalPortBinding" type="tns:Transactional">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="Transfer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="AddPayee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="PayeeList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="DeletePayee">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="RechargePrepaidCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="OrderChequeBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="EligibleAccountList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="AddMultipleTransfer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="AddPermanentTransfer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="CancelPermanentTransfer">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ServiceException">
<soap:fault name="ServiceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="Transactional">
<port name="TransactionalPort" binding="tns:TransactionalPortBinding">
<soap:address location="http://localhost:8080/WS-Omnichannel/transactional"></soap:address>
</port>
</service>
</definitions>
